body{
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 8vh;
}
@font-face {
    font-family: "San Francisco Bold";
    font-weight: 700;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
  }
  
  @font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }

a{
    text-decoration: none;
    color: black;
}

a:hover{
    transition: all .4s ease-in;
    text-decoration:double;
}
a:active{
    transition: all .4s ease-in-out;
    text-decoration: underline;
}

h1{
    font-size: 24px;
    font-style: bold; 
    font-family: San Francisco Bold;
    color: rgb(58, 48, 48);
    position: relative;
    top: 9vh;

}
.p4{
    position: relative;
    font-family: San Francisco;
    top: 10vh;
    transition: width 0.4s ease-in-out;
    padding: 12px 20px;
    width: 30%;
    background-color: rgb(227, 227, 227);
    box-sizing: border-box;
    border: none;
    border-radius: 1vh;
}

.p0{
    background-color: bl;
    font-family: San Francisco;
    text-align: center;
    padding: 1vw;
    transition: all .2s ease-in-out;
    color: rgb(81, 74, 74);
    border-radius: 4px;
    display: inline;

}
.p1{
    background-color: bl;
    font-family: San Francisco;
    text-align: center;
    padding: 1vw;
    transition: all .2s ease-in-out;
    color: rgb(81, 74, 74);
    border-radius: 4px;
    display: inline;

}

.p2{
    background-color: bl;
    font-family: San Francisco Bold;
    text-align: center;
    padding: 1vw;
    transition: all .2s ease-in-out;
    color: rgb(81, 74, 74);
    border-radius: 4px;
    display: inline;
}

.p3{
    background-color: bl;
    font-family: San Francisco;
    text-align: center;
    padding: 1vw;
    transition: all .2s ease-in-out;
    color: rgb(81, 74, 74);
    border-radius: 4px;
    display: inline;
}

p:hover{
    padding: 12px;
    background-color: rgb(247, 4, 4);
    color: white;
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 1px 1px 5px;
}
