body{
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 8vh;
}

@font-face {
    font-family: "San Francisco Bold";
    font-weight: 700;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
  }
  
  @font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }

h1{
    font-size: 24px;
    font-style: bold; 
    font-family: "San Francisco Bold";
    color: rgb(58, 48, 48);
    position: relative;
    top: 9vh;

}

h2{
    font-size: 16px;
    font-family: "San Francisco";
    color: rgb(58, 48, 48);
    font-weight: 20;
    position: relative;
    top: 7vh;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    transition: all .4s ease-in;
    text-decoration:double;
}
a:active{
    transition: all .4s ease-in-out;
    text-decoration: underline;
}

.p0{
    background-color: bl;
    font-family: San Francisco Bold;
    text-align: center;
    padding: 1vw;
    transition: all .2s ease-in-out;
    color: rgb(53, 48, 48);
    border-radius: 4px;
    display: inline;

}
.p1{
    background-color: bl;
    font-family: San Francisco;
    text-align: center;
    padding: 1vw;
    transition: all .2s ease-in-out;
    color: rgb(81, 74, 74);
    border-radius: 4px;
    display: inline;

}

.p2{
    background-color: bl;
    font-family: San Francisco;
    text-align: center;
    padding: 1vw;
    transition: all .2s ease-in-out;
    color: rgb(81, 74, 74);
    border-radius: 4px;
    display: inline;
}

.p3{
    background-color: bl;
    font-family: San Francisco;
    text-align: center;
    padding: 1vw;
    transition: all .2s ease-in-out;
    color: rgb(81, 74, 74);
    border-radius: 4px;
    display: inline;
}

p:hover{
    padding: 12px;
    background-color: rgb(247, 4, 4);
    color: white;
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 1px 1px 5px;
}

.div2{ 
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.im1{
    position: relative;
    top: 15vh;
    width: 26.8vw;
    height: 28vw;
    padding: 4vw;
    background-color:rgb(227, 227, 227);
    border-radius: 1vw;
}
.im1:hover{
    position: relative;
    top: 15vh;
    width: 26.8vw;
    height: 28vw;
    padding: 4vw;
    background-color:rgb(247, 4, 4);
    border-radius: 1vw;
}

.im1:active{
    position: relative;
    top: 15vh;
    width: 26.8vw;
    height: 28vw;
    padding: 4vw;
    background-color:rgb(247, 4, 4);
    border-radius: 1vw;;
}

.im2{
    position: relative;
    top: 15vh;
    left: 1vw;
    width: 26.8vw;
    height: 28vw;
    padding: 4vw;
    background-color:rgb(227, 227, 227);
    border-radius: 1vw;
}

.im2:hover{
    position: relative;
    top: 15vh;
    width: 26.8vw;
    height: 28vw;
    padding: 4vw;
    background-color:rgb(247, 4, 4);
    border-radius: 1vw;
}

.im2:active{
    position: relative;
    top: 15vh;
    width: 26.8vw;
    height: 28vw;
    padding: 4vw;
    background-color:rgb(247, 4, 4);
    border-radius: 1vw;;
}


