body{
    margin-left: 15vw;
}

@font-face {
    font-family: "San Francisco Bold";
    font-weight: 700;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
  }
  
  @font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
  }

h1{
    font-size: 24px;
    font-style: bold; 
    font-family:San Francisco Bold;
    color: rgb(58, 48, 48);
    position: relative;
    top: 9vh;

}

input[type=submit]{
    position: relative;
    font-family: San Francisco;
    top: 10vh;
    transition: width 0.4s ease-in-out;
    padding: 12px 20px;
    width: 30%;
    background-color: rgb(227, 227, 227);
    box-sizing: border-box;
    border: none;
    border-radius: 1vh;
}

input[type=submit]:hover{
    transition: width 0.4s ease-in-out;
    padding: 12px 20px;
    width: 30%;
    background-color: rgb(247, 4, 4);
    color: white;
    transform: scale(1.1);
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    border-radius: 1vh;
}

input[type=submit]:active{
    transition: width 0.4s ease-in-out;
    padding: 12px 20px;
    width: 30%;
    background-color: rgb(247, 4, 4);
    color: white;
    transform: scale(1.1);
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    text-decoration: underline;
    border-radius: 1vh;
}
